<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h3>Edit your chat: <%= chat._id %></h3>
    <p>
        This chat was sent from <b><i><%= chat.from %></i></b> to <b><i><%= chat.to %></i></b>
    </p>

    <form method="POST" action="/chats/<%= chat._id%>?_method=PUT">
        <textarea name="message" cols="50" rows="6"><%= chat.message %></textarea>
        <button>Edit changes</button>
    </form>
</body>
</html>